<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect"
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css"
        integrity="sha512-8BU3emz11z9iF75b10oPjjpamM4Mz23yQFQymbtwyPN3mNWHxpgeqyrYnkIUP6A8KyAj5k2p3MiYLtYqew7gIw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/homepage.css">
    <title>Forum</title>
    <link rel="icon" href="/images/logo.png" type="image/png">
</head>

<body class="container-fluid">
        <!-- Navbar -->
        <nav
            class="navbar navbar-expand-lg navbar-dark fixed-top the-2nd-color">
            <div class="d-flex shadow container-xxl">
                <!-- Logo -->
                <div class="navbar-brand col-lg-2 me-0 p-0">
                    <a href="/"><img src="/images/logo.png" alt="Logo" height="60px"></a>
                </div>

                <!-- Hamburger Button -->
                <button class="navbar-toggler mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible Content -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav flex-grow-1 flex-lg-row flex-sm-row col-lg-8">
                        <form class="d-flex mt-2 w-100 h-25 me-lg-2 custom-search-form" action="/search" method="GET">
                            <input class="form-control me-0" type="text" name="query" placeholder="Search...">
                            <button class="ms-2 btn the-4th-color" type="submit"><i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                        <div class="navbar-nav d-flex flex-row ms-auto">
                            <% if (userId) { %>
                                <div class="btn-group d-flex flex-column">
                                    <button type="button"
                                        class="btn btn-custom the-2nd-color dropdown-toggle btn-dropdown mt-2"
                                        data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                        <span class="me-2 font-secondary">
                                            <%=user.name%>
                                        </span>
                                        <%if(!user.photo){ %>
                                            <img src="/images/neco-arc.png" id="profilePic" alt="User's profile picture"
                                                height="24px" width="24px">
                                            <%} else { %>
                                                <img src="<%= user.photo %>" id="profilePic"
                                                    alt="User's profile picture" height="24px" width="24px">
                                                <%} %>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end the-4th-colorr roboto">
                                        <li>
                                            <form action="/profileFinder/<%= user._id %>" method="post"><input
                                                    class="dropdown-item" type="submit" value="Profile"></input></form>
                                        </li>
                                        <li><a class="dropdown-item" type="button" href="/post">Post a thread</a></li>
                                        <li><a class="dropdown-item" type="button" href="/logout">Logout</a></li>
                                    </ul>
                                </div>
                                <% } else { %>

                                    <a href="/register" class="nav-link nav-text ms-3 font-primary me-2">Register</a>
                                    <a href="/login" class="nav-link nav-text font-primary me-2">Login</a>
                                    <a href="/post" class="nav-link nav-text font-primary me-2">Post a Thread</a>
                                    <% } %>
                        </div>
                    </div>
                    <div class="d-lg-none mt-4">
                        <nav class="nav flex-column border-2 border-top">
                            <a class="nav-link text-light text-end font-primary pe-1" href="/">Home</a>
                            <a class="nav-link text-light text-end font-primary pe-1" href="/aboutus">About</a>
                            <a class="nav-link text-light text-end font-primary pe-1" href="/">Contact</a>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="container-xl d-flex justify-content-center align-items-center" style="padding-top: 100px;">
            <div class="row box">
                <!-- Mini Navbar (Visible on larger screens) -->
                <div class="col-2 d-flex flex-column align-items-start"></div>
                <div
                    class="col-2 sidenav d-none d-lg-flex flex-column align-items-lg-start border-end border-2 sidebar fixed-top justify-content-center">
                    <nav class="nav flex-column mb-5 ms-5 fs-5">
                        <a class=" nav-link text1 text-decoration-none py-2 ps-0 pe-5 font-primary " href="/">Home</a>
                        <a class=" nav-link text1 text-decoration-none py-2 ps-0 pe-5 font-primary " href="/aboutus">About</a>
                        <li class="accordion">
                            <a class="nav-link text1 text-decoration-none py-2 ps-0 pe-5 font-primary btn-contact" href="#!"
                                role="button" data-bs-toggle="collapse" data-bs-target="#drop-menu" aria-expanded="false"
                                aria-controls="drop-menu">Contact</a>
                            <div id="drop-menu" class="drop-menu collapse">
                                <div class="border-start border-1">
                                    <a href="https://x.com/s_skygaming" class="text-white text-primary-onHover p-1 m-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                    <br>
                                    <a href="https://www.facebook.com/profile.php?id=61565599724149" class="text-white text-primary-onHover p-1 m-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                    <br>
                                    <a href="#!" class="text-white text-primary-onHover p-1 m-3">
                                        <span class="fab fa-instagram"></span>
                                    </a>
                                    <br>
                                    <a href="#!" class="text-white text-primary-onHover p-1 m-3">
                                        <span class="fab fa-linkedin-in"></span>
                                    </a>
                                    <br>
                                    <a href="mailto:Skygaming.fansite@gmail.com" class="text-white text-primary-onHover p-1 m-3">
                                        <i class="fa-regular fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
    
                        </li>
                    </nav>
                </div>
                <div class="col-12 col-lg-10 d-flex justify-content-center thread">
                    <div class="thread-container mb-4 roboto pt-2">
                        <div class="thread-box box-shadow1 ">
                            <!------- THREAD ------->
                            <!-- TITLE -->
                            <div class="head d-flex justify-content-between align-items-center">
                                <h1 class="text1 mb-0 font-size2 ms-2 mt-2">
                                    <%= thread.title %>
                                </h1>
                                <% if ((typeof userId) !== 'undefined' && userId === thread.createdBy._id.toString() || (typeof user) !== 'undefined' && user.isAdmin) { %>
                                    
                                    <div class="btn-group thread-box me-2 mt-2">
                                        <button type="button" class="btn btn-secondary dropdown-toggle thread-box border-0 btn-dropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-lg-end the-4th-colorr roboto">
                                            <% if (thread.isArchived) { %>
                                                <form action="/unarchive-thread/<%= thread._id %>" method="post">
                                                    <button class="dropdown-item" type="submit">Unarchive</button>
                                                </form>
                                            <% } else { %>
                                                <form action="/archive-thread/<%= thread._id %>" method="post">
                                                    <button class="dropdown-item" type="submit">Archive</button>
                                                </form>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            
                            <!-- USER AND DATE -->
                            <span class="d-flex flex-row font-size1 ms-2"><i class="fa--xf far fa-user text1 mt-1"
                                    aria-hidden="true" title="Thread starter"></i>
                                <form action="/profileFinder/<%= thread.createdBy.id %>" method="post">
                                    <input class="border-0 ms-1 p-0 thread-box text1 username" type="submit"
                                        name="userName" id="userName" value="<%= thread.createdBy.name %>">
                                </form>
                                <i class="fa--xf far fa-clock ms-1 text1 mt-1" aria-hidden="true"
                                    title="Start date"></i>
                                <span class="text1 ms-1">
                                    <%= formatDate(thread.date) %>
                                </span>
                            </span>
                            <hr class="text1 my-2">
                            <!-- CONTENT -->
                            <p class="text1 mx-2">
                                <%= thread.content %>

                            </p>
                            <% if (!thread.mediaURL) { %>
                                <span></span>
                                <% } else { %>
                                    <img class="" src="<%= thread.mediaURL %>" alt="" height="100%" width="100%">
                                    <% } %>

                                        <form action="/reply/<%= thread._id %>" method="POST" id="reply-form">
                                            <% if(message){ %>
                                                <div class="alert alert-danger alert-dismissible fade show fixed-top"
                                                    role="alert">
                                                    <strong>
                                                        <%= message %>
                                                    </strong>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                        aria-label="Close"></button>
                                                </div>
                                                <% } %>
                                        </form>
                                        <hr class="text1">
                                        <div class="post-form d-flex justify-content-end me-3">
                                            <div class="d-flex justify-content-end">
                                                <!-- Button trigger modal -->
                                                <button class="mb-3 btn-custom btn" type="button"
                                                    class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#postFormModal">
                                                    ✎ Add a post
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="postFormModal" tabindex="-1"
                                                    aria-labelledby="postFormModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content the-2nd-color">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title text1" id="postFormModalLabel">
                                                                    Post a post
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form class="d-flex flex-column ms-2"
                                                                    action="/reply/<%= thread._id %>" method="POST"
                                                                    enctype="multipart/form-data" id="postForm">
                                                                    <div class="mb-3">
                                                                        <label for="content"
                                                                            class="form-label text1">Content</label>
                                                                        <textarea class="form-control" name="content"
                                                                            id="content" rows="3"
                                                                            placeholder="Enter content"
                                                                            required></textarea>
                                                                    </div>
                                                                    <div class="mb-3">

                                                                        <input class="mt-1 text1" type="file"
                                                                            name="postImg" id="postImg"
                                                                            accept="jpeg, jpg, png">

                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-custom"
                                                                    data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" form="postForm"
                                                                    class="btn btn-custom">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        </div>
                        <!-- POST -->
                        <div class="post-box mt-4">
                            <% thread.replies.forEach(reply=> { %>
                                <div class="reply-<%= reply._id %> reply-to-thread d-flex mt-4">
                                    <!-- User infomation(username and user's profile picture) -->
                                    <div class="user px-4 d-flex flex-column align-items-center border-end border-1">
                                        <form class="d-none" action="/profileFinder/<%= reply.createdBy.id %>"
                                            method="post" id="profileForm-<%= reply.createdBy.id %>">
                                            <input type="submit" name="userName" id="userName" value="Go to profile"
                                                style="display: none;">
                                        </form>
                                        <img src="<%= reply.createdBy.photo %>" class="profile-pic img-user mt-3"
                                            alt="User's profile picture" height="70" width="70"
                                            onclick="document.getElementById('profileForm-<%= reply.createdBy.id%>').submit();">
                                        <p class="text1 username"
                                            onclick="document.getElementById('profileForm-<%= reply.createdBy.id%>').submit();">
                                            <%= reply.createdBy.name %>
                                        </p>
                                    </div>
                                    <!-- CONTENT -->
                                    <div class="content d-flex flex-column px-4 thread-box">
                                        <div class="head mt-2 d-flex flex-row justify-content-between">
                                            <span class="mt-2 date">
                                                <%= formatDate(reply.date) %>
                                            </span>
                                            <% if ((typeof userId) !== 'undefined' && userId === reply.createdBy._id.toString() || (typeof user) !== 'undefined' && user.isAdmin) { %>
                                                
                                                <div class="btn-group">
                                                    <button type="button"
                                                        class="btn btn-secondary dropdown-toggle thread-box border-0 btn-dropdown1"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-lg-end roboto">
                                                        <% if (reply.isArchived) { %>
                                                            <form action="/unarchive-reply/<%= reply._id %>"
                                                                method="post">
                                                                <button class="dropdown-item"
                                                                    type="submit">Unarchive</button>
                                                            </form>
                                                            <% } else { %>
                                                                <form action="/archive-reply/<%= reply._id %>"
                                                                    method="post">
                                                                    <button class="dropdown-item"
                                                                        type="submit">Archive</button>
                                                                </form>
                                                                <% } %>
                                                    </div>
                                                </div>
                                                
                                                <% } %>
                                        </div>
                                        <p class="text1 mt-2">
                                            <%= reply.content %>
                                        </p>
                                        <% if (reply.img) { %>
                                            <img src="<%= reply.img %>" class="post-img" alt="post image" height="100%"
                                                width="100%">
                                            <% } %>
                                                <hr class="text1">
                                                <button class="cmt-btn btn btn-custom mb-2 d-flex align-self-end"
                                                    data-reply-id="<%= reply._id %>">
                                                    <i class="fa-regular fa-comment"></i>
                                                </button>
                                    </div>
                                </div>

                                <% if (reply.replies.length> 0) { %>
                                    <button class="show-hide-more-replies btn btn-custom"
                                        data-reply-id="<%= reply._id %>" data-length="<%= reply.replies.length %>">
                                        <% if (reply.replies.length == 1) { %>
                                        Click to see <%= reply.replies.length %> reply
                                        <% } else { %>
                                            Click to see <%= reply.replies.length %> replies
                                        <% } %>
                                    </button>
                                    <% } %>

                                        <!-- Replies to reply -->
                                        <div class="replies-box mt-4">
                                            <div id="reply-<%= reply._id %>" class="hide">
                                                <% reply.replies.forEach(subReply=> { %>
                                                    <div class="reply-to-reply text1 d-flex flex-row mt-3">
                                                        <div
                                                            class="user px-4 d-flex flex-column align-items-center border-end border-1">
                                                            <form class="d-none"
                                                                action="/profileFinder/<%= subReply.createdBy.id %>"
                                                                method="post"
                                                                id="profileForm-subReply-<%= subReply.createdBy.id %>">
                                                                <input type="submit" name="userName" id="userName"
                                                                    value="Go to profile" style="display: none;">
                                                            </form>
                                                            <img src="<%= subReply.createdBy.photo %>"
                                                                class="profile-pic img-user mt-3"
                                                                alt="User's profile picture" height="70" width="70"
                                                                onclick="document.getElementById('profileForm-subReply-<%= subReply.createdBy.id %>').submit();">
                                                            <p class="text1 username"
                                                                onclick="document.getElementById('profileForm-subReply-<%= subReply.createdBy.id %>').submit();">
                                                                <%= subReply.createdBy.name %>
                                                            </p>
                                                        </div>



                                                        <div class="content d-flex flex-column px-4 thread-box">
                                                            <div class="rep-box d-flex flex-column mt-2 the-2nd-color"
                                                                id="rep-box-<%= subReply.id %>">
                                                                <% if (subReply.parentReply &&
                                                                    subReply.parentReply.createdBy) { %>
                                                                    <p class="ps-2 pt-2 m-0">
                                                                        <%= subReply.parentReply.createdBy.name %>:↩
                                                                    </p>
                                                                    <hr class="m-0">
                                                                    <p class="ps-2 pt-2 m-0 rep-content">
                                                                        <%= subReply.parentReply.content %>
                                                                    </p>

                                                                    <% } %>
                                                            </div>
                                                            <span class="mt-2 date">
                                                                <%=formatDate(subReply.date)%>
                                                            </span>
                                                            <p>
                                                                <%= subReply.content %>
                                                            </p>
                                                            <% if (subReply.img) { %>
                                                                <img src="<%= subReply.img %>" class="reply-img"
                                                                    alt="reply image" height="50%" width="100%">
                                                                <% } %>



                                                                    <hr>
                                                                    <div
                                                                        class="btn-con d-flex align-items-end mb-2 flex-column">
                                                                        <button
                                                                            class="cmt-btn d-flex btn btn-custom font-size1"
                                                                            data-reply-id="<%= reply._id %>"><i
                                                                                class="fa-regular fa-comment"></i></button>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                            </div>
                                            <hr class="text1">
                                        </div>
                                        <% }) %>
                        </div>
                    </div>

                </div>
                <form id="form-template" class="reply-form flex-column align-self-start" action="" method="POST"
                    enctype="multipart/form-data">
                    <textarea class="form-control" name="content" required></textarea>
                    <input class="text1 mt-2" type="file" name="repToRepImg" id="repToRepImg">
                    <button class="btn btn-custom cmt-cmt-btn text1 d-flex align-self-end mb-3"
                        type="submit">Reply</button>
                </form>


                <div class="col-2 d-flex flex-column align-items-start"></div>
                <div class="col-12 col-lg-10 pagination d-flex justify-content-between p-0 flex-column flex-lg-row align-items-center">
                    <div class="pagination1">
                        <% if (currentPage > 1) { %>
                            <form action="/thread/<%= thread.id %>" method="get">
                                <input type="hidden" name="page" value="<%= currentPage - 1 %>">
                                <button class="btn btn-custom" type="submit">← Prev</button>
                            </form>
                            <% if (currentPage > 2) { %>
                                <form action="/thread/<%= thread.id %>" method="get">
                                    <input type="hidden" name="page" value="<%= currentPage - 2 %>">
                                    <button class="btn btn-custom mx-1" type="submit">
                                        <%= currentPage - 2 %>
                                    </button>
                                </form>
                            <% } %>
                            <form action="/thread/<%= thread.id %>" method="get">
                                <input type="hidden" name="page" value="<%= currentPage - 1 %>">
                                <button class="btn btn-custom mx-1" type="submit">
                                    <%= currentPage - 1 %>
                                </button>
                            </form>
                        <% } %>
                        <% if (totalPages > 1) { %>
                        <form action="/thread/<%= thread.id %>" method="get">
                            <input type="hidden" name="page" value="<%= currentPage %>">
                            <button class="btn btn-current mx-1" type="submit">
                                <%= currentPage %>
                            </button>
                        </form>
                        <% } %>
                        <% if (totalPages > 1) { %>
                            <% if (currentPage < totalPages - 1) { %>
                                <form action="/thread/<%= thread.id %>" method="get">
                                    <input type="hidden" name="page" value="<%= currentPage + 1 %>">
                                    <button class="btn btn-custom mx-1" type="submit">
                                        <%= currentPage + 1 %>
                                    </button>
                                </form>
                            <% } %>
                            <% if (currentPage < totalPages - 2) { %>
                                <form action="/thread/<%= thread.id %>" method="get">
                                    <input type="hidden" name="page" value="<%= currentPage + 2 %>">
                                    <button class="btn btn-custom mx-1" type="submit">
                                        <%= currentPage + 2 %>
                                    </button>
                                </form>
                            <% } %>
                        <% } %>
                        <% if (currentPage < totalPages) { %>
                            <form action="/thread/<%= thread.id %>" method="get">
                                <input type="hidden" name="page" value="<%= currentPage + 1 %>">
                                <button type="submit" class="btn btn-custom">
                                    Next →
                                </button>
                            </form>
                        <% } %>
                        
                    </div>
                    <div class="pagination2 mt-2 mt-lg-0">
                        <% if (totalPages> 1) { %>
                            <form class="form-page" id="form-page" action="/thread/<%= thread.id %>" method="get"
                                data-total-pages="<%= totalPages %>">
                                <input class="input-page" id="input-page" type="number" name="page" min="1"
                                    max="<%= totalPages %>" placeholder="Page">
                                <button class="btn btn-custom ms-2" id="jump-to-button" type="submit">Jump to</button>
                            </form>
                            <div id="popup" class="the-4th-color ms-2" style="display: none;">Maximum page is <%= totalPages
                                    %>
                            </div>
    
                            <% } %>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
         <footer class="container-xl d-flex justify-content-center align-items-center">
            <div class="row box mt-5">
                <div class="col-2 d-flex flex-column align-items-start"></div>
                <div class="col-12 col-lg-10  the-1st-color text-white d-flex flex-column justify-content-center p-0">
                    <h5 class="font-primary text-white mb-4 mt-3 d-flex justify-content-center ">

                        <div class="container">
                            <div class="rotating-text">
                                <span class="word1"><img src="/images/logo.png" alt="logo" height="70px"></span>
                                <span class="word2"><img src="/images/logo.png" alt="logo" height="70px"></span>
                                <span class="word3"><img src="/images/logo.png" alt="logo" height="70px"></span>
                                <span class="word4"><img src="/images/logo.png" alt="logo" height="70px"></span>
                                <span class="word5"><img src="/images/logo.png" alt="logo" height="70px"></span>
                                <span class="word6"><img src="/images/logo.png" alt="logo" height="70px"></span>
                            </div>
                        </div>
                    </h5>
                    <ul class="list-unstyled d-flex justify-content-center flex-row">
                        <li class="m-3"><a class="text-decoration-none footer-text" href="/terms-of-use">Terms of use</a></li>
                        <li class="m-3"><a class="text-decoration-none footer-text" href="/privacy-policy">Privacy policy</a></li>
                        <li class="m-3"><a class="text-decoration-none footer-text" href="/aboutus">About us</a></li>
                    </ul>


                    <div class="bottom d-flex flex-lg-row flex-column justify-content-lg-between justify-content-center
                            align-items-center">
                        <p class="anton ms-2">&copy; 2024 Sky Gaming. All rights reserved.</p>

                        <ul class="list-inline nml-2">
                            <li class="list-inline-item">
                                <a href="https://x.com/s_skygaming" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/profile.php?id=61565599724149" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-instagram"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-linkedin-in"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="mailto:Skygaming.fansite@gmail.com" class="text-white text-primary-onHover p-2">
                                    <i class="fa-regular fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
                
            </div>
        
         
        </footer>
         
    <!-- Custom JavaScript -->
    <script src="/javascript/pagination.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="/javascript/postImgHandler.js"></script>
    <script scr="/javascript/threadImgHandler.js"></script>
    <script src="https://kit.fontawesome.com/68148c68bd.js" crossorigin="anonymous"></script>
</body>

</html>