<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/logo.png" type="image/png">
</head>

<body>
    <% if (typeof message !== "undefined" && message) { %>
        <div class="mt-0 message position-absolute w-100" id="errorMessage">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= message %>
            </div>
        </div>
    <% } %>
    <div id="main-container" class="container-fluid">
        <div class="text-center">
            <img src="/images/phoenix.png" class="rounded-circle p-5" alt="logo" width="200px">
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h3 class="text-start mt-5">Register</h3>
                <form id="registerForm" action="/register" method="post" >
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="name" name="name" 
                        value="<%= typeof data !== 'undefined' ? data.name : '' %>"  placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" 
                        value="<%= typeof data !== 'undefined' ? data.email : '' %>" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" 
                        value="<%= typeof data !== 'undefined' ? data.password : '' %>"
                            placeholder="Enter password" oninput="checkPassword()">
                        <small id="passwordHelpBlock" class="form-text text-1 ">
                            *Your password must be at least 8 characters long, contain uppercase and lowercase letters,
                            a number, and a special character.*
                        </small>
                        <div id="passwordRequirements" class="text-danger mt-2"></div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" 
                        value="<%= typeof data !== 'undefined' ? data.confirmPassword : '' %>"
                            placeholder="Confirm password">
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="termsCheckbox" name="termsCheckbox">
                        <label class="form-check-label" for="termsCheckbox">I agree to the <a class="t-blue"
                                href="/terms-of-use" target="_blank">Terms of use</a> and <a class="t-blue" href="/privacy-policy">Privacy policy</a></label>
                    </div>

                    <div class="g-recaptcha" data-sitekey="6Lfu_0IqAAAAADs4Xd09YwU69M04E5S9rcnV6dWK"></div>
                    <hr>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>

                <div class="line">
                    <hr>
                    <span>Or login by</span>
                    <hr>
                </div>

                <div class="d-flex justify-content-around">

                    <button class="btn btn-outline btn-block, p-3" onclick="loginWithGoogle()">
                        <img src="/images/google.png" alt="Google" style="width: 20px; height: 20px;">
                        Google
                    </button>
                
                <div class="text-center mt-3 p-2">
                    <span>Already have an account?</span>
                    <a href="/login" class="btn btn-outline">Login now!</a>
                </div></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>

    <script src="/javascript/script.js"></script>
</body>

</html>