<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="hello.css">
    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <!-- <h1>Hello <%= userName %></h1> -->

    conditional rendering
    <% if (userName === 'vietnam') { %>
        <h1>Xin chào <%= userName %></h1>
    <% } else { %>
        <h1>Hello <%= userName %></h1>
    <% } %>

    <!-- <p><%= JSON.stringify(carList) %></p> -->

    <ul>
        <% carList.forEach(car => { %>
            <li> <%= car %> </li>
        <% }) %>
    </ul>

</body>
</html>