<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css"
    integrity="sha512-8BU3emz11z9iF75b10oPjjpamM4Mz23yQFQymbtwyPN3mNWHxpgeqyrYnkIUP6A8KyAj5k2p3MiYLtYqew7gIw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="/css/profile-editor.css">
  <link rel="icon" href="/images/logo.png" type="image/png">
  <title>Profile</title>
</head>

<body class="container-fluid">


  <!-- Navbar -->
  <nav
            class="navbar navbar-expand-lg navbar-dark fixed-top the-2nd-color">
            <div class="d-flex shadow container-xxl">
                <!-- Logo -->
                <div class="navbar-brand col-lg-2 me-0 p-0">
                    <a href="/"><img src="/images/logo.png" alt="Logo" height="60px"></a>
                </div>

                <!-- Hamburger Button -->
                <button class="navbar-toggler mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible Content -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav flex-grow-1 flex-lg-row flex-sm-row col-lg-8">
                        <form class="d-flex mt-2 w-100 h-25 me-lg-2 custom-search-form" action="/search" method="GET">
                            <input class="form-control me-0" type="text" name="query" placeholder="Search...">
                            <button class="ms-2 btn the-4th-color" type="submit"><i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                        <div class="navbar-nav d-flex flex-row ms-auto">
                            <% if (userId) { %>
                                <div class="btn-group d-flex flex-column">
                                    <button type="button"
                                        class="btn btn-custom the-2nd-color dropdown-toggle btn-dropdown mt-2"
                                        data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                        <span class="me-2 font-secondary">
                                            <%=user.name%>
                                        </span>
                                        <%if(!user.photo){ %>
                                            <img src="/images/neco-arc.png" id="profilePic" alt="User's profile picture"
                                                height="24px" width="24px">
                                            <%} else { %>
                                                <img src="<%= user.photo %>" id="profilePic"
                                                    alt="User's profile picture" height="24px" width="24px">
                                                <%} %>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end the-4th-colorr roboto">
                                        <li>
                                            <form action="/profileFinder/<%= user._id %>" method="post"><input
                                                    class="dropdown-item" type="submit" value="Profile"></input></form>
                                        </li>
                                        <li><a class="dropdown-item" type="button" href="/post">Post a thread</a></li>
                                        <li><a class="dropdown-item" type="button" href="/logout">Logout</a></li>
                                    </ul>
                                </div>
                                <% } else { %>

                                    <a href="/register" class="nav-link nav-text ms-3 font-primary me-2">Register</a>
                                    <a href="/login" class="nav-link nav-text font-primary me-2">Login</a>
                                    <a href="/post" class="nav-link nav-text font-primary me-2">Post a Thread</a>
                                    <% } %>
                        </div>
                    </div>
                    <div class="d-lg-none mt-4">
                        <nav class="nav flex-column border-2 border-top">
                            <a class="nav-link text-light text-end font-primary pe-1" href="/">Home</a>
                            <a class="nav-link text-light text-end font-primary pe-1" href="/aboutus">About</a>
                            <a class="nav-link text-light text-end font-primary pe-1" href="/">Contact</a>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
  <!-- Main Content -->
  <main class="container-xl d-flex justify-content-center align-items-center" style="padding-top: 100px;">
    <div class="row box">
      <!-- Mini Navbar (Visible on larger screens) -->
      <div class="col-2 d-flex flex-column align-items-start"></div>
      <div
      class="col-2 sidenav d-none d-lg-flex flex-column align-items-lg-start border-end border-2 sidebar fixed-top justify-content-center">
        <nav class="nav flex-column mb-5 ms-5 fs-5">
          <a class=" nav-link text1 text-decoration-none py-2 ps-0 pe-5 font-primary " href="/">Home</a>
          <a class=" nav-link text1 text-decoration-none py-2 ps-0 pe-5 font-primary " href="/aboutus">About</a>
          <li class="accordion">
            <a class="nav-link text1 text-decoration-none py-2 ps-0 pe-5 font-primary btn-contact" href="#!"
              role="button" data-bs-toggle="collapse" data-bs-target="#drop-menu" aria-expanded="false"
              aria-controls="drop-menu">Contact</a>
            <div id="drop-menu" class="drop-menu collapse">
              <div class="border-start border-1">
                <a href="#!" class="text-white text-primary-onHover p-3">
                  <span class="fab fa-twitter"></span>
                </a>
                <br>
                <a href="#!" class="text-white text-primary-onHover p-3">
                  <span class="fab fa-facebook-f"></span>
                </a>
                <br>
                <a href="#!" class="text-white text-primary-onHover p-3">
                  <span class="fab fa-instagram"></span>
                </a>
                <br>
                <a href="#!" class="text-white text-primary-onHover p-3">
                  <span class="fab fa-linkedin-in"></span>
                </a>
                <br>
              </div>
            </div>
          </li>
        </nav>
      </div>
    </div>
  </main>


  <!-- The profile itself -->
  <% if(typeof message !="undefined" && message) { %>
    <div class="error-container d-flex justify-content-center">
      <div class="mt-0 message position-absolute w-50 " id="errorMessage">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <div>
            <%= message %>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
    <%}%>
      <div class="col-12 col-lg-10 text1 box d-flex justify-content-center">
        <div class="col-md-2 d-none d-lg-flex flex-column align-items-start"></div>
        <div class="col-lg-8 col-12 d-lg-flex flex-column border border-white p-3 p-0">
          <!-- img-username-mini desc container -->
          <div class="container-fluid d-lg-flex d-sm-block flex-lg-row">



            <!-- Profile editor modal -->
            <div class="modal fade" id="postFormModal" tabindex="-1" aria-labelledby="postFormModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content the-2nd-color">
                  <div class="modal-header">
                    <h5 class="modal-title text1" id="exampleModalLabel">Profile editor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Profile image edit forms -->
                    <form action="/profilePic-edit" method="post" id="pfp-form" enctype="multipart/form-data">
                      <div class="userImg">
                        <div class="container-fluid d-flex mx-auto justify-content-center">
                          <input name="image" type="file" id="file" class="file" accept="jpeg, jpg, png">
                          <label for="file" class="uploadbtn" id="uploadbtn">
                            <img src="<%=user.photo%>" id="photo" class="photo">
                          </label>
                        </div>
                      </div>
                    </form>
                    <!-- profile text edit form -->
                    <form action="/profile/edit" method="post" id="userForm">
                      <label for="name" class="">User name</label><br>
                      <input type="text" name="name" id="name" value="<%= user.name %>"><br>
                      <label for="status" class="">Status</label><br>
                      <input type="text" name="status" id="status" value="<%= user.status %>"><br>
                      <label for="description" class="">Description</label><br>
                      <textarea type="textbox" name="description" id="description" class="w-100" maxlength="100"><%= user.description %></textarea><br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="userForm">Save changes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- flex container for centering profile pic in sm and below-->
            <div class="d-flex justify-content-center">
              <a href=" <%= (user.name === sessionUser.name) ? '' : '' %>">
                <%if(!user.photo){ %>
                  <img src="/images/neco-arc.png" id="pfp" alt="User's profile picture">
                  <%} else { %>
                    <img src="<%= (user.name === sessionUser.name) ? sessionUser.photo : user.photo %>" id="pfp"
                      alt="User's profile picture">
                    <%} %>
              </a>
            </div>
            <!-- user name and mini desc container -->
            <div class="container-fluid d-flex flex-column w-50 w-100">
              <div class="m-2 fs-1 d-flex j font-secondary">
                <% if(user.name===sessionUser.name){ %>
                  <%= sessionUser.name %>
                    <%= sessionUser.isArchived ? '🔒' : '' %>
                      <%} else {%>
                        <%= user.name %>
                          <%= user.isArchived ? '🔒' : '' %>
                            <% } %>
                              <% if(user.name===sessionUser.name){ %>
                                <div class="btn-group">
                                  <button type="button"
                                    class="btn btn-custom the-2nd-color dropdown-toggle btn-dropdown mt-2"
                                    data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-lg-end the-4th-colorr roboto">
                                    <!-- <li><a href="/profile_editor" class="dropdown-item">Profile editor</a></li> -->
                                    <!-- Button trigger modal -->
                                    <li><button type="button" class="btn btn-primary dropdown-item"
                                        data-bs-toggle="modal" data-bs-target="#postFormModal">Profile editor</button>
                                    </li>
                                    <%if(sessionUser.isAdmin){%>
                                      <li><a href="/adminUI" class="dropdown-item">AdminUI</a></li>
                                      <% } %>
                                        <% if(sessionUser.isArchived){ %>
                                          <li>
                                            <form action="/user/unArchive" method="post"><button type="submit"
                                                class="dropdown-item">Unarchive🔓</button></form>
                                          </li>
                                          <% } else { %>
                                            <li>
                                              <form action="/user/archive" method="post"><button type="submit"
                                                  class="dropdown-item">Archive🔒</button></form>
                                            </li>
                                            <%}%>
                                  </ul>
                                </div>
                                <%}%>
              </div>

              <div class="text-wrap mx-2">
                Status:<br>
                <%= user.name===sessionUser.name ? sessionUser.status : user.status %>
              </div>
            </div>
          </div>
          <!-- "about" and main desc container -->
          <div class="container-fluid">
            <h1 class="m-3">Description</h1>
            <% if (user.isLocked){ %>
              <div class="mx-3">This account has been locked</div>
              <% } if (user.isArchived) { %>
                <div class="mx-3">This account has been archived</div>
           <% } else { %>
            <div class="mx-3">
              <%= user.name===sessionUser.name ? sessionUser.description : user.description %>
            </div>
            <% } %>
           
          </div>
        </div>


      </div>
      </div>


      <footer class="container-xl d-flex justify-content-center align-items-center">
        <div class="row box mt-5">
            <div class="col-2 d-flex flex-column align-items-start"></div>
            <div class="col-12 col-lg-10  the-1st-color text-white d-flex flex-column justify-content-center p-0">
                <h5 class="font-primary text-white mb-4 mt-3 d-flex justify-content-center ">

                    <div class="container">
                        <div class="rotating-text">
                            <span class="word1"><img src="/images/logo.png" alt="logo" height="70px"></span>
                            <span class="word2"><img src="/images/logo.png" alt="logo" height="70px"></span>
                            <span class="word3"><img src="/images/logo.png" alt="logo" height="70px"></span>
                            <span class="word4"><img src="/images/logo.png" alt="logo" height="70px"></span>
                            <span class="word5"><img src="/images/logo.png" alt="logo" height="70px"></span>
                            <span class="word6"><img src="/images/logo.png" alt="logo" height="70px"></span>
                        </div>
                    </div>
                </h5>
                <ul class="list-unstyled d-flex justify-content-center flex-row">
                    <li class="m-3"><a class="text-decoration-none footer-text" href="/terms-of-use">Terms of use</a></li>
                    <li class="m-3"><a class="text-decoration-none footer-text" href="/privacy-policy">Privacy policy</a></li>
                    <li class="m-3"><a class="text-decoration-none footer-text" href="/aboutus">About us</a></li>
                </ul>


                <div class="bottom d-flex flex-lg-row flex-column justify-content-lg-between justify-content-center
                        align-items-center">
                    <p class="anton ms-2">&copy; 2024 Sky Gaming. All rights reserved.</p>

                    <ul class="list-inline nml-2">
                        <li class="list-inline-item">
                            <a href="https://x.com/s_skygaming" class="text-white text-primary-onHover p-2">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/profile.php?id=61565599724149" class="text-white text-primary-onHover p-2">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-white text-primary-onHover p-2">
                                <span class="fab fa-instagram"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-white text-primary-onHover p-2">
                                <span class="fab fa-linkedin-in"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:Skygaming.fansite@gmail.com" class="text-white text-primary-onHover p-2">
                                <i class="fa-regular fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
            
        </div>
    
     
    </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
      <script src="/javascript/index.js"></script>
</body>

</html>